<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
			<file value="./logs/App.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value=".yyyyMMdd" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<param name="Threshold" value="INFO" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-6level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppenderRef" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<param name="Threshold" value="INFO" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-6level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppenderAll" />
			<appender-ref ref="ConsoleAppenderRef" />
		</root>
	</log4net>
	<appSettings>
		<add key="admin-secret" value="2AE0C1F7-0AC1-4319-B950-4ED75EE2C9F3"/>
	</appSettings>
</configuration>